<!DOCTYPE HTML>
<html><head><title>SAEP2023</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head><body><center><h1>SAEP 2023</h1><hr><br>Saídas
<h3>
<form action="/saidas">
<input type="checkbox" name="K1" value="1" checke >
<label for="K1">Tomada1</label><br>
<input type="checkbox" name="K2" value="1" checke >
<label for="K2">Tomada2</label><br>
<input type="checkbox" name="K3" value="1" checke >
<label for="K3">Tomada3</label><br>
<input type="checkbox" name="K4" value="1" checke >
<label for="K4">Tomada4</label>
</h3>
<input type="submit" value="Atualizar">
</form>
</center>
</body>
</html>